.app-gravatar {
  float: left;
  width: 50px;
}

.author-text {
  vertical-align: middle;
}

.clear {
  clear: both;
}

.micropost-content {
  margin-left: 50px;
  background-color: lemonchiffon;
}

.timeago-line {
  padding-left: 5px;
}

.timeago-container {
  float: left;
  text-align: left;
  padding-right: 5px;
}
