<mat-card class="gravatar-card">
  <!--<mat-card-content>-->
    <div class="container" fxLayout="row">
      <form style="text-align: center">
        <div>
          <textarea style="display: flex" matInput placeholder="Compose new micropost (140 char max...)" formControlName="message" cdkTextareaAutosize
                    cdkAutosizeMinRows="6"></textarea>
        </div>
        <div class="post_button_container">
          <button>Post</button>
        </div>
      </form>
    </div>
  <!--</mat-card-content>-->
</mat-card>
