.welcome_page_enter_container {
  height: 700px;
  color: #fff;
  background-image: url("../../../assets/images/Deception_Pass_Bridge_in_fog2.jpg");
  background-size: 100%;
  background-size: cover;
}

.welcome_page_enter_text {
  background: rgba(120, 120, 120, 0.4);
  position: absolute;
  color: black;
  top: 25%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  font: 24px arial, sans-serif;
}
