<div class="app-component app-container">
  <a class="close-navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target=".menuItemsContainer">
  </a>
  <nav id="header" class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
    <div class="container-xl px-md-3 px-xxl-4">
      <div ngPreserveWhitespaces class="navbar-brand" routerLink="/">
        <span class="d-lg-none d-xl-inline">
          JCarrollOnline
        </span>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".menuItemsContainer">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div *ngIf="isUserLoggedIn" class="collapse navbar-collapse menuItemsContainer">
          <ul class="nav nav-pills white flex-column flex-lg-row">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="Users">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/fora">Fora</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="Profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="Contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="Sandbox">Sandbox</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="Yellowstone">Yellowstone Slideshow</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link active" href="Register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="Login">Login</a>
            </li>
          </ul>
        </div>

        <div *ngIf="!isUserLoggedIn" class="collapse navbar-collapse menuItemsContainer">
          <ul class="nav nav-pills flex-column flex-lg-row ms-auto">
            <li class="nav-item" routerLinkActive="active">
              <ul class="nav nav-pills white flex-column flex-lg-row">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="Users">Users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" routerLink="/fora">Fora</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="Profile">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="Contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="Sandbox">Sandbox</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="Yellowstone">Yellowstone Slideshow</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                  <a class="nav-link active" href="Register">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="Login">Login</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
