<div [@fadeInOut]>
  <div #widgetsContainer>
    <div *ngIf="isForumDataArrived">
      <h3 class="p-3 text-center">{{this.forum.title}} Threads</h3>
      <p class="float-right">
        <button [routerLink]="'./thread-create'" [queryParams]="{forumId: forum.id}">Create New Thread</button>
      </p>
    </div>
    <div class="container">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Replies</th>
            <th>Author</th>
            <th>Created On</th>
            <th>Last Reply</th>
            <th>Recs</th>
            <th>Views</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let thread of this.threads">
            <td><a [routerLink]="['./thread']" [queryParams]="{ rootId: thread.id, forumId: forumId}">{{thread.title}}</a></td>

            <td>{{thread.replies}}</td>
            <td>{{thread.author}}</td>
            <td>{{thread.createdAt}}</td>
            <td>{{thread.lastReply}}</td>
            <td>{{thread.recs}}</td>
            <td>{{thread.views}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
